/* リキッドレイアウト対応 */
@use "global" as *;

html {
  //~375px
  @media (max-width: 375px) {
    font-size: vw(375, 16);
  }

  //375px~787px
  font-size: 16px;

  @include mq("md") {
    font-size: vw(strip-unit($inner), 16);
  }

  //inner~max-screen
  @media (min-width: $inner) {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
a[href^="tel:"] {
  @include mq("md") {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
  @include mq("md") {
    &:hover {
      opacity: 0.8;
    }
  }
}
body {
  top: 0 !important; // Google翻訳のツールバーによるズレを防ぐ
}

// Google翻訳のUIを非表示
.goog-te-banner-frame,
.goog-te-balloon-frame {
  display: none !important;
}

#google_translate_element {
  display: none !important;
}

.skiptranslate {
  display: none !important;
}
