@use "global" as *;

.c-main-title {
  display: flex;
  flex-direction: column;
}

.c-main-title__main {
  white-space: nowrap;
  color: #fafafa;
  font-size: rem(20);
  letter-spacing: 0.1em;
  font-weight: 500;
  font-family: $second-font-family;
  text-transform: uppercase;
  @include mq(md) {
    font-size: rem(40);
  }
  @include mq(lg) {
    font-size: rem(60);
  }
}

.c-main-title__sub {
  margin-top: rem(10);
  color: #fafafa;
  font-size: rem(12);
  letter-spacing: 0.05em;
  font-weight: 400;
  font-family: $font-en;
  @include mq(md) {
    font-size: rem(16);
  }
}

.c-main-title__ja {
  white-space: nowrap;
  color: #fafafa;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-family: $second-font-family;
  text-transform: uppercase;
  font-size: rem(24);
  @include mq(md) {
    font-size: rem(48);
  }
  @include mq(lg) {
    font-size: rem(60);
  }
}
.c-main-title__ja--black {
  color: #333;
}
.c-main-title__en {
  margin-top: rem(10);
  color: #fafafa;
  letter-spacing: 0.05em;
  font-weight: 400;
  font-family: $font-en;
  font-size: rem(12);
  @include mq(md) {
    font-size: rem(16);
  }
}
.c-main-title__en--black {
  color: #333;
}
