@use "global" as *;

.c-main-title {
  display: flex;
  flex-direction: column;
}

.c-main-title__main {
  white-space: nowrap;
  color: #fafafa;
  font-size: rem(20);
  letter-spacing: 0.1em;
  font-weight: 500;
  font-family: $second-font-family;
  text-transform: uppercase;
  @include mq(md) {
    font-size: rem(40);
  }
  @include mq(lg) {
    font-size: rem(60);
  }
}

.c-main-title__sub {
  margin-top: rem(10);
  color: #fafafa;
  font-size: rem(12);
  letter-spacing: 0.05em;
  font-weight: 400;
  font-family: $font-en;
  position: relative;
  padding-left: rem(35);
  @include mq(md) {
    font-size: rem(16);
  }
}
.c-main-title__sub::before {
  position: absolute;
  content: "";
  background: url(../images/common/main_title_line.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(25);
  height: 1px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.c-main-title__ja {
  white-space: nowrap;
  color: #fafafa;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-family: $second-font-family;
  text-transform: uppercase;
  font-size: rem(24);
  @include mq(md) {
    font-size: rem(48);
  }
  @include mq(lg) {
    font-size: rem(60);
  }
}
.c-main-title__ja--black {
  color: #333;
}
.c-main-title__en {
  margin-top: rem(10);
  color: #fafafa;
  letter-spacing: 0.05em;
  font-weight: 400;
  font-family: $font-en;
  font-size: rem(12);
  position: relative;
  padding-left: rem(35);
  @include mq(md) {
    font-size: rem(16);
  }
}
.c-main-title__en::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: rem(25);
  height: 1px;
  background: url(../images/common/line_main.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.c-main-title__en--black {
  color: #333;
  position: relative;
}

.c-main-title__en--black::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: rem(25);
  height: 1px;
  background: url(../images/common/line_main_black.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.c-main-title__kind {
  color: #f5f2e8;
  letter-spacing: 0.1em;
  line-height: calc(23 / 16);
  font-weight: 400;
  font-family: $second-font-family;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(16);
  }
}
