@use "global" as *;

.c-section-title {
}

.c-section-title__ja {
  color: #333;
  font-family: $second-font-family;
  font-weight: 500;
  letter-spacing: 0.075em;
  line-height: calc(80 / 70);
  display: block;
  font-size: rem(28);
  @include mq(md) {
    font-size: rem(48);
  }
  @include mq(lg) {
    font-size: rem(70);
  }
}
.c-section-title__ja--white {
  color: #fafafa;
}

.c-section-title__en {
  color: #333;
  letter-spacing: 0.05em;
  line-height: calc(30 / 16);
  font-weight: 400;
  font-family: $second-font-family;
  display: block;
  font-size: rem(14);
  margin-top: rem(6);
  position: relative;
  padding-left: rem(35);
  @include mq(md) {
    font-size: rem(16);
    margin-top: rem(10);
  }
}
.c-section-title__en::before {
  position: absolute;
  content: "";
  background: url(../images/common/section_title_line.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(25);
  height: 1px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.c-section-title__en--white {
  color: #fafafa;
  position: relative;
}

.c-section-title__en--white::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: rem(25);
  height: 1px;
  background: url(../images/common/section_title_line_white.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}