@use "global" as *;

.p-amenity {
  margin-top: rem(80);
}

.p-amenity__content {
  max-width: rem(1300);
  width: 100%;
  margin-left: auto;
  display: flex;
  gap: rem(100);
}
.p-amenity__content + .p-amenity__content {
  margin-top: rem(200);
}

.p-amenity__img {
  flex-shrink: 0;
  max-width: rem(400);
  width: 100%;
}
.p-amenity__img img {
  aspect-ratio: 400 / 600;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.p-amenity__detail {
  flex: 1;
}

.p-amenity__title {
  font-size: rem(34);
  font-weight: 700;
  color: #333;
  letter-spacing: 0.1em;
  line-height: calc(60 / 34);
  font-family: $second-font-family;
}

.p-amenity__text {
  margin-top: rem(40);
  font-size: rem(16);
  line-height: calc(36 / 16);
  letter-spacing: 0.1em;
  color: #333;
  font-weight: 400;
}

.p-amenity__lists {
  margin-top: rem(40);
  display: flex;
  gap: rem(40);
  padding: rem(60) rem(50);
  background: rgba($color: #fafafa, $alpha: 0.5);
  border-radius: rem(5);
}

.p-amenity__list {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: rem(25);
  border-left: 1px solid #2e4f77;
  height: fit-content;
}

.p-amenity__item {
  font-size: rem(14);
  line-height: calc(36 / 14);
  letter-spacing: 0.1em;
  color: #333;
  font-weight: 400;
}
.p-amenity__item--bold {
  font-weight: 700;
  color: #2e4f77;
  font-size: rem(16);
  font-family: $second-font-family;
  letter-spacing: 0.1em;
  line-height: calc(40 / 16);
  margin-bottom: rem(10);
}
.p-amenity__eco {
  margin-top: rem(40);
  background: rgba($color: #fafafa, $alpha: 0.5);
  border-radius: rem(5);
  padding: rem(60) rem(50);
}

.p-amenity__eco-text {
  color: #333;
  font-size: rem(24);
  line-height: calc(35 / 24);
  letter-spacing: 0.1em;
  font-weight: 700;
  font-family: $second-font-family;
  text-align: center;
}

.p-amenity__eco-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(10);
  margin-top: rem(30);
  margin-bottom: rem(30);
}

.p-amenity__eco-item {
}
.p-amenity__eco-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
  border-radius: rem(10);
}
