@use "../global/" as *;

.p-about {
  padding-top: rem(100);
  padding-bottom: rem(200);
}

.p-about__content {
  max-width: rem(1300);
  width: 100%;
  margin-inline: auto;
}

.p-about__title {
}

.p-about__img-wrapper {
  margin-top: rem(60);
  display: flex;
  align-items: center;
  gap: rem(20);
  justify-content: center;
  max-width: rem(1090);
  width: 100%;
  margin-inline: auto;
}

.p-about__img {
  padding: rem(30) rem(68);
  position: relative;
}
.p-about__img::before {
  position: absolute;
  content: "";
  background: #2e4f77;
  border-radius: rem(20);
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.p-about__img img,
.p-about__img--cross img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-about__img--cross {
  width: rem(50);
}

.p-about__text-wrapper {
  margin-top: rem(60);
}

.p-about__text {
  color: #fafafa;
  font-size: rem(18);
  line-height: calc(40 / 16);
  letter-spacing: 0.1em;
  font-weight: 400;
}

.p-about__movie {
  margin-top: rem(120);
  max-width: rem(1120);
  margin-inline: auto;
  width: 100%;
}
.p-about__movie iframe {
  aspect-ratio: 1120 / 630;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.p-about__reserve {
  margin-top: rem(240);
}
