@use "../global/" as *;

.p-about {
  padding-top: rem(64);
  padding-bottom: rem(64);
  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(200);
  }
}

.p-about__content {
  max-width: rem(1300);
  width: 100%;
  margin-left: auto;
}

.p-about__title {
}

.p-about__img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: rem(1090);
  width: 100%;
  margin-inline: auto;
  margin-top: rem(24);
  flex-direction: column;
  gap: rem(16);
  @include mq(md) {
    flex-direction: row;
    margin-top: rem(60);
    gap: rem(20);
  }
}

.p-about__img {
  padding: rem(16);
  position: relative;
  @include mq(md) {
    padding: rem(30) rem(68);
  }
}
.p-about__img::before {
  position: absolute;
  content: "";
  background: #020818;
  border-radius: rem(20);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.p-about__img img,
.p-about__img--cross img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
  position: relative;
  z-index: 2;
}
.p-about__img--cross {
  width: rem(24);
  @include mq(md) {
    width: rem(50);
  }
}

.p-about__text-wrapper {
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(60);
  }
}

.p-about__text {
  color: #fafafa;
  font-size: rem(14);
  line-height: calc(40 / 16);
  letter-spacing: 0.1em;
  font-weight: 400;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(18);
  }
}

.p-about__movie {
  margin-inline: auto;
  width: 100%;
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(120);
    max-width: rem(1120);
  }
}
.p-about__movie iframe {
  aspect-ratio: 1120 / 630;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.p-about__reserve {
  margin-top: rem(64);
  @include mq(md) {
    margin-top: rem(240);
  }
}
