@use "global" as *;

.p-amenity {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}

.p-amenity__content {
  max-width: rem(1300);
  width: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: rem(40);
  border-top: 1px solid #f5f2e8;
  padding-top: rem(50);
  @include mq(md) {
    gap: rem(100);
    flex-direction: row;
    padding-top: rem(100);
  }
}
.p-amenity__content + .p-amenity__content {
  margin-top: rem(50);
  @include mq(md) {
    margin-top: rem(100);
  }
}

.p-amenity__img {
  flex-shrink: 0;
  width: 100%;
  @include mq(md) {
    max-width: rem(400);
  }
}
.p-amenity__img img {
  aspect-ratio: 400 / 600;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.p-amenity__detail {
  flex: 1;
}

.p-amenity__title {
  font-size: rem(20);
  font-weight: 700;
  color: #333;
  letter-spacing: 0.1em;
  line-height: calc(60 / 34);
  font-family: $second-font-family;
  @include mq(md) {
    font-size: clamp(18px, 2vw, 24px);
  }
  @include mq(lg) {
    font-size: rem(34);
  }
}

.p-amenity__text {
  line-height: calc(36 / 16);
  letter-spacing: 0.1em;
  color: #3d4043;
  font-weight: 400;
  font-size: rem(14);
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(40);
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(16);
  }
}

.p-amenity__lists {
  display: flex;
  background: rgba($color: #fafafa, $alpha: 0.5);
  border-radius: rem(5);
  padding: rem(16);
  margin-top: rem(24);
  gap: rem(16);
  flex-direction: column;
  @include mq(md) {
    flex-direction: row;
    gap: rem(40);
    padding: rem(60) rem(50);
    margin-top: rem(40);
  }
}

.p-amenity__list {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #2e4f77;
  height: fit-content;
  padding-left: rem(16);
  @include mq(md) {
    padding-left: rem(25);
  }
}

.p-amenity__item {
  font-size: rem(14);
  letter-spacing: 0.1em;
  color: #333;
  line-height: 1.7;
  font-weight: 400;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(14);
  }
}
.p-amenity__item--bold {
  font-weight: 700;
  color: #2e4f77;
  font-size: rem(16);
  font-family: $second-font-family;
  letter-spacing: 0.1em;
  line-height: 1.6;
  margin-bottom: rem(8);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(16);
  }
}
.p-amenity__eco {
  background: rgba($color: #fafafa, $alpha: 0.5);
  border-radius: rem(5);
  margin-top: rem(24);
  padding: rem(16);
  @include mq(md) {
    margin-top: rem(40);
    padding: rem(50) rem(60);
  }
}

.p-amenity__eco-text {
  color: #333;
  font-size: rem(18);
  line-height: calc(35 / 24);
  letter-spacing: 0.1em;
  font-weight: 700;
  font-family: $second-font-family;
  text-align: center;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(24);
  }
}

.p-amenity__eco-lists {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(10);
  margin-top: rem(24);
  margin-bottom: rem(24);
  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: rem(10);
    margin-top: rem(30);
    margin-bottom: rem(30);
  }
}

.p-amenity__eco-item {
}
.p-amenity__eco-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
  border-radius: rem(10);
}
