@use "../global/" as *;

.p-all {
  margin-top: rem(40);

  &__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: rem(5) 0;
  }

  &__header {
    padding: rem(12) rem(15);
    text-align: center;

    position: relative;
    border-top-left-radius: rem(10);
    border-top-right-radius: rem(10);
    &--empty {
      background-color: transparent;
    }
  }
  &__header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2e4f77;
    mix-blend-mode: multiply;
    border-top-left-radius: rem(10);
    border-top-right-radius: rem(10);
  }
  &__header--empty::before {
    background: transparent;
    mix-blend-mode: normal;
  }
  &__header p {
    z-index: 2;
    position: relative;
    font-weight: 700;
    font-size: rem(20);
    letter-spacing: 0.1em;
    line-height: 2;
    color: #fafafa;
  }

  &__label {
    color: #333;
    padding: rem(20) rem(25);
    font-size: rem(18);
    font-weight: 700;
    text-align: center;
    position: relative;
    letter-spacing: 0.1em;
    white-space: nowrap;
    z-index: 2;
    width: rem(320);
    &::before {
      content: "";
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #ffffff;
      mix-blend-mode: soft-light;
    }
    &--first::before {
      border-top-left-radius: rem(10);
    }
    &--last::before {
      border-bottom-left-radius: rem(10);
    }
  }

  &__cell {
    padding: rem(20);
    text-align: center;

    position: relative;
  }
  &__cell::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2e4f77;
    mix-blend-mode: multiply;
  }
  &__cell p {
    z-index: 2;
    position: relative;
    color: #fafafa;
    font-weight: 400;
    font-size: rem(18);
    letter-spacing: 0.1em;
    line-height: 2;
  }

  // レスポンシブ対応
  @media screen and (max-width: 768px) {
    margin-top: rem(40);

    &__table {
      display: block;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }

    &__header {
      font-size: rem(20);
      padding: rem(12) rem(15);
      text-align: center;
      font-weight: 700;
      letter-spacing: 0.1em;
      line-height: 2;
      color: #fafafa;
    }

    &__label {
      font-size: rem(14);
      text-align: center;
      padding: rem(15) rem(18);
    }

    &__cell {
      font-size: rem(16);
      text-align: center;
      padding: rem(15);
    }
  }
}
.p-all__cell--last {
  border-bottom-right-radius: rem(10);
  border-bottom-left-radius: rem(10);
}
.p-all__header span {
  font-size: rem(14);
  font-weight: 700;
  color: #fafafa;
  letter-spacing: 0.1em;
  line-height: calc(30 / 14);
}
.p-fee .p-all__label {
  width: rem(240);
}
