@use "global" as *;

.p-btns {
  padding-top: rem(30);
}

.p-btns__content {
  display: grid;
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.p-btns__btn {
  display: block;
  position: relative;
}

.p-btns__detail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding-left: rem(16);
  padding-right: rem(16);
}

.p-btns__btn-text {
  color: #fafafa;
  font-family: $font-en;
  font-weight: 400;
  text-align: center;
  font-size: rem(24);
  @include mq(md) {
    font-size: rem(50);
  }
}

.p-btns__btn-sub {
  color: #fafafa;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-family: $second-font-family;
  font-size: rem(12);
  @include mq(md) {
    font-size: rem(20);
  }
}

.p-btns__text {
  position: relative;
  letter-spacing: 0.1em;
  font-weight: 400;
  color: #fafafa;
  text-align: center;
  font-size: rem(14);
  padding-top: rem(20);
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(30);
    padding-top: rem(30);
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(16);
  }
}

.p-btns__icon {
  width: rem(40);
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(30);
  }
}
.p-btns__icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-btns__img {
}
.p-btns__img img {
  aspect-ratio: 930 / 600;
  object-fit: cover;
  width: 100%;
  height: auto;
}
