@use "global" as *;

.p-beautiful {
  padding-top: rem(240);
  padding-bottom: rem(100);
  @include mq(md) {
    padding-top: rem(269);
    padding-bottom: rem(304);
  }
}

.p-beautiful__content {
  text-align: center;
  position: relative;
}
.p-beautiful__content::before {
  position: absolute;
  content: "";
  background: url(../images/common/beutiful_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  aspect-ratio: 270 / 400;
  object-fit: cover;
  right: 0;
  width: rem(100);
  top: rem(-180);
  @include mq(md) {
    top: rem(-64);
    width: rem(270);
    right: rem(-40);
  }
  @include mq(lg) {
    right: 0;
  }
}
.p-beautiful__content::after {
  position: absolute;
  content: "";
  background: url(../images/common/beutiful_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(460);
  height: auto;
  aspect-ratio: 460 / 220;
  object-fit: cover;
  bottom: rem(-320);
  left: rem(-180);
}

.p-beautiful__title {
}

.p-beautiful__title-text {
  font-family: $second-font-family;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: calc(60 / 32);
  color: #fafafa;
  font-size: rem(18);
  @include mq(md) {
    font-size: rem(32);
  }
}

.p-beautiful__text {
  color: #fafafa;
  font-family: $second-font-family;
  line-height: calc(48 / 22);
  font-weight: 400;
  letter-spacing: 0.2em;
  font-size: rem(14);
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(50);
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(22);
  }
}
