@use "global" as *;

.p-beautiful {
  padding-top: rem(269);
  padding-bottom: rem(304);
}

.p-beautiful__content {
  text-align: center;
  position: relative;
}
.p-beautiful__content::before {
  position: absolute;
  content: "";
  background: url(../images/common/beutiful_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(270);
  height: auto;
  aspect-ratio: 270 / 400;
  object-fit: cover;
  top: rem(-64);
  right: 0;
}
.p-beautiful__content::after {
  position: absolute;
  content: "";
  background: url(../images/common/beutiful_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(460);
  height: auto;
  aspect-ratio: 460 / 220;
  object-fit: cover;
  bottom: rem(-320);
  left: rem(-180);
}

.p-beautiful__title {
}

.p-beautiful__title-text {
  font-size: rem(32);
  font-family: $second-font-family;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: calc(60 / 32);
  color: #fafafa;
}

.p-beautiful__text {
  margin-top: rem(50);
  color: #fafafa;
  font-size: rem(22);
  font-family: $second-font-family;
  line-height: calc(48 / 22);
  font-weight: 400;
  letter-spacing: 0.2em;
}
