@use "global" as *;

.p-desert__content {
  max-width: rem(1300);
  width: 100%;
  margin-left: auto;
}

.p-desert__menu {
  margin-top: rem(80);
  display: flex;
  gap: rem(80);
  align-items: flex-start;
}

.p-desert__images {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  max-width: rem(370);
  width: 100%;
}

.p-desert__img {
  max-width: rem(370);
  width: 100%;
}

.p-desert__img img {
  width: 100%;
  height: auto;
  aspect-ratio: 370 / 500;
  object-fit: cover;
}

.p-desert__lists {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: rem(60);
}

.p-desert__section {
}
.p-desert__section:last-child {
  border-bottom: 1px solid #2f4f77;
  padding-bottom: rem(30);
}
.p-desert__category-title {
  font-family: $second-font-family;
  font-size: rem(24);
  font-weight: 700;
  line-height: calc(34 / 24);
  color: #fafafa;
  letter-spacing: 0.1em;
  margin-bottom: rem(30);
  padding-bottom: rem(30);
  border-bottom: 1px dotted #2f4f77;
  border-top: 1px solid #2f4f77;
  padding-top: rem(30);
}

.p-desert__list {
  display: flex;
  flex-direction: column;
}

.p-desert__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.p-desert__name {
  font-size: rem(18);
  font-weight: 400;
  line-height: calc(40 / 18);
  color: #fafafa;
  letter-spacing: 0.05em;
  flex: 1;
  padding-right: rem(20);
  padding-left: rem(20);
  position: relative;
}

.p-desert__name::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: rem(10);
  height: 3px;
  background: #fafafa;
}
.p-desert__price {
  font-size: rem(18);
  font-weight: 400;
  line-height: 1;
  color: #fafafa;
  white-space: nowrap;
  letter-spacing: 0.1em;
}
