@use "global" as *;

.p-drink {
  padding-top: rem(200);
}

.p-drink__content {
  max-width: rem(1300);
  width: 100%;
  margin-left: auto;
}

.p-drink__menu {
  margin-top: rem(80);
}

.p-drink__columns {
}

.p-drink__column {
}

.p-drink__category {
  margin-top: rem(60);
  display: flex;
  gap: rem(10);
  align-items: center;
}

.p-drink__category:first-child {
  margin-top: 0;
}

.p-drink__category-title {
  font-family: $second-font-family;
  font-size: rem(22);
  font-weight: 400;
  line-height: calc(60 / 22);
  color: #fafafa;
  letter-spacing: 0.1em;
  flex: 1;
  white-space: nowrap;
}
.p-drink__category-line {
  height: 1px;
  width: 100%;
  background: #2f4f77;
}
.p-drink__lists {
  margin-top: rem(30);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(120);
}
.p-drink__list {
  display: flex;
  flex-direction: column;
}

.p-drink__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.p-drink__item + .p-drink__item {
  margin-top: rem(12);
}

.p-drink__name {
  font-size: rem(18);
  font-weight: 400;
  line-height: calc(40 / 18);
  color: #fafafa;
  letter-spacing: 0.1em;
  flex: 1;
  padding-right: rem(20);
  padding-left: rem(20);
  position: relative;
}

.p-drink__name::before {
  content: "";
  position: absolute;
  left: 0;
  top: rem(20);
  width: rem(10);
  height: 3px;
  background: #fafafa;
}
.p-drink__price {
  font-size: rem(18);
  font-weight: 400;
  line-height: 1;
  color: #fafafa;
  white-space: nowrap;
  letter-spacing: 0.1em;
  line-height: calc(40 / 18);
  text-align: right;
}
