@use "global" as *;

.p-drink {
  padding-top: rem(64);
  @include mq(md) {
    padding-top: rem(200);
  }
}

.p-drink__content {
  max-width: rem(1300);
  width: 100%;
  margin-left: auto;
}

.p-drink__menu {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}

.p-drink__columns {
}

.p-drink__column {
}

.p-drink__category {
  margin-top: rem(32);
  display: flex;
  gap: rem(10);
  align-items: center;
  @include mq(md) {
    margin-top: rem(60);
  }
}

.p-drink__category:first-child {
  margin-top: 0;
}

.p-drink__category-title {
  font-family: $second-font-family;
  font-weight: 400;
  line-height: calc(60 / 22);
  color: #fafafa;
  letter-spacing: 0.1em;
  flex: 1;
  white-space: nowrap;
  font-size: rem(16);
  @include mq(md) {
    font-size: clamp(16px, 2vw, 18px);
  }
  @include mq(lg) {
    font-size: rem(22);
  }
}
.p-drink__category-line {
  height: 1px;
  width: 100%;
  background: #2f4f77;
}
.p-drink__lists {
  display: grid;
  gap: rem(24);
  grid-template-columns: repeat(1, 1fr);
  margin-top: rem(24);
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: rem(30);
    gap: rem(120);
  }
}
.p-drink__list {
  display: flex;
  flex-direction: column;
}

.p-drink__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.p-drink__item + .p-drink__item {
  margin-top: rem(12);
}

.p-drink__name {
  font-weight: 400;
  line-height: calc(40 / 18);
  color: #fafafa;
  letter-spacing: 0.1em;
  flex: 1;
  position: relative;
  padding-right: rem(12);
  padding-left: rem(12);
  font-size: rem(14);

  @include mq(md) {
    padding-right: rem(20);
    font-size: clamp(14px, 2vw, 14px);
    padding-left: rem(20);
  }
  @include mq(lg) {
    font-size: rem(18);
  }
}

.p-drink__name::before {
  content: "";
  position: absolute;
  left: 0;
  width: rem(10);
  height: 3px;
  background: #fafafa;
  top: rem(20);
  @include mq(md) {
    top: rem(15);
  }
  @include mq(lg) {
    top: rem(20);
  }
}
.p-drink__price {
  font-weight: 400;
  line-height: 1;
  color: #fafafa;
  white-space: nowrap;
  letter-spacing: 0.1em;
  line-height: calc(40 / 18);
  text-align: right;
  font-size: rem(14);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(18);
  }
}
