@use "global" as *;

.p-equipments {
  padding-top: rem(64);
  padding-bottom: rem(64);
  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(100);
  }
}

.p-equipments__title {
}

.p-equipments__content {
  max-width: rem(1300);
  width: 100%;
  margin-left: auto;
}

.p-equipments__blocks {
  display: grid;
  gap: rem(16);
  margin-top: rem(24);
  grid-template-columns: 1fr;
  @include mq(md) {
    gap: rem(40);
    grid-template-columns: 1fr 1fr;
    margin-top: rem(60);
  }
}
.p-equipments__block {
}

.p-equipments__subtitle {
  padding-top: rem(6);
  padding-bottom: rem(6);
  text-align: center;
  position: relative;
  @include mq(md) {
    padding-top: rem(10);
    padding-bottom: rem(10);
  }
}
.p-equipments__subtitle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #020818;
}
.p-equipments__subtitle span {
  position: relative;
  font-weight: 700;
  z-index: 2;
  color: #fafafa;
  letter-spacing: 0.1em;
  font-size: rem(16);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(18);
  }
}

.p-equipments__list {
  display: flex;
  flex-direction: column;
}

.p-equipments__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #2f4f77;
  padding: rem(8) 0;
  @include mq(md) {
    padding: rem(15) 0;
  }
}

.p-equipments__label {
  letter-spacing: 0.1em;
  line-height: calc(36 / 16);
  color: #fafafa;
  font-weight: 700;
  padding-left: rem(10);
  font-size: rem(14);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(16);
  }
}

.p-equipments__value {
  color: #fafafa;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: calc(36 / 16);
  font-size: rem(14);
  padding-right: rem(10);
  @include mq(md) {
    padding-right: rem(67);
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(16);
  }
}

.p-equipments__info-block {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: rem(16);
  @include mq(md) {
    padding: rem(30);
  }
}

.p-equipments__info-title {
  font-size: rem(20);
  font-weight: 500;
  color: #fafafa;
  letter-spacing: 0.1em;
  padding-bottom: rem(15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: rem(20);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(20);
  }
}

.p-equipments__info-list {
  display: flex;
  flex-direction: column;
  gap: rem(15);
  margin-bottom: rem(20);
}

.p-equipments__info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(10) 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.p-equipments__info-label {
  font-size: rem(16);
  color: #fafafa;
  letter-spacing: 0.05em;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(16);
  }
}

.p-equipments__info-value {
  font-size: rem(16);
  color: #fafafa;
  font-weight: 500;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(16);
  }
}

.p-equipments__info-text {
  font-size: rem(14);
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.8;
  letter-spacing: 0.05em;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(14);
  }

  &--address {
    font-size: rem(15);
    line-height: 1.8;
    @include mq(md) {
      font-size: clamp(14px, 2vw, 14px);
    }
    @include mq(lg) {
      font-size: rem(15);
    }
  }
}
.p-equipments__text {
  font-size: rem(14);
  color: #fafafa;
  line-height: calc(30 / 14);
  letter-spacing: 0.1em;
  font-weight: 400;
  margin-top: rem(20);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(14);
  }
}
.p-equipments__link {
  text-decoration: underline;
}
