@use "global" as *;

.p-footer {
  padding-top: rem(64);
  position: relative;
  padding-bottom: rem(48);
  @include mq(md) {
    padding-top: rem(80);
    padding-bottom: initial;
  }
}

.p-footer::before {
  position: absolute;
  content: "";
  background: #0b1933;
  width: 100vw;
  margin-inline: calc(50% - 50vw);
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.p-footer__inner {
  padding-left: rem(20);
  padding-right: rem(20);
}

.p-footer__content {
}

.p-footer__logo {
  width: 100%;
  margin-inline: auto;
  max-width: rem(300);
  @include mq(md) {
    max-width: rem(540);
  }
}

.p-footer__home {
  display: inline-block;
}
.p-footer__home img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-footer__address-wrapper {
  margin-top: rem(20);
  @include mq(md) {
    text-align: center;
    margin-top: rem(30);
  }
}

.p-footer__address {
  color: #fafafa;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 2;
  font-size: rem(14);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(18);
  }
}

.p-footer__lists {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: rem(12);
  padding-top: rem(40);
  margin-top: rem(40);
  position: relative;
  @include mq(md) {
    padding-top: rem(80);
    margin-top: rem(80);

    gap: rem(60);
  }
}
.p-footer__lists::before {
  position: absolute;
  content: "";
  background: #2f4f77;
  width: 100vw;
  margin-inline: calc(50% - 50vw);
  height: 1px;
  top: 0;
  left: 0;
}

.p-footer__list {
}

.p-footer__link {
  color: #fafafa;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-family: $second-font-family;
  font-size: rem(14);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(18);
  }
}

.p-footer__copy {
  text-align: center;
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(51);
  }
}
.p-footer__copy small {
  font-size: rem(10);
  color: #fafafa;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-family: $font-en;
  @include mq(md) {
    font-size: rem(12);
  }
}

.p-footer__bottom {
  position: relative;
  z-index: 1;
  padding-top: rem(24);
  padding-bottom: rem(24);
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(50);
    padding-top: rem(40);
    padding-bottom: rem(40);
  }
}
.p-footer__bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #020818;
  margin-inline: calc(50% - 50vw);
  width: 100vw;
}

.p-footer__bottom-lists {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  gap: rem(5);
}

.p-footer__bottom-list {
}

.p-footer__bottom-link {
  display: flex;
  align-items: center;
  border: 1px solid #2f4f77;
  padding: rem(10) rem(12);
  border-radius: rem(3);
  gap: rem(6);
  @include mq(md) {
    gap: rem(10);
    padding: rem(15) rem(20);
  }
}

.p-footer__bottom-linkText {
  color: #fafafa;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-family: $second-font-family;
  white-space: nowrap;
  font-size: rem(12);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(14);
  }
}

.p-footer__linkIcon {
  min-width: rem(13);
  max-width: rem(13);
}
.p-footer__linkIcon img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-footer__floating {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  transition: 0.3s ease-in-out;
  @include mq(md) {
    display: none;
    position: static;
  }

  &.is-visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.p-footer__floating-link {
  display: flex;
  align-items: center;
  gap: rem(10);
  justify-content: center;
  height: rem(60);
  flex-direction: column;
  width: 100%;
}

.p-footer__floating-link--language {
  background: #3d4043;
}

.p-footer__floating-icon {
  min-width: rem(16);
  max-width: rem(16);
}
.p-footer__floating-icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-footer__floating-text {
  color: #3d4043;
  font-size: rem(13);
  letter-spacing: 0.1em;
  font-weight: 400;
  font-family: $second-font-family;
}

.p-footer__floating-link--food {
  background: #f5f2e8;
}

.p-footer__floating-link--stay {
  background: #e8c2c2;
}
.p-footer__floating-text--language {
  color: #fafafa;
}
.p-footer__sns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(20);
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(64);
  }
}

.p-footer__sns-link {
  display: inline-block;
  width: rem(26);
}
.p-footer__sns-link--facebook {
  width: rem(16);
}
.p-footer__sns-link img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
