@use "global" as *;

.p-facilities {
  padding-top: rem(113);
  padding-bottom: rem(200);
}

.p-facilities__content {
}

.p-facilities__content--scene {
  max-width: rem(1300);
  width: 100%;
  margin-inline: auto;
}
.p-facilities__title {
}

.p-facilities__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(60);
  margin-top: rem(80);
}

.p-facilities__item {
}
.p-facilities__item--scene {
  background: #f5f2e8;
  border-radius: rem(5);
  padding: rem(20);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
}

.p-facilities__img {
}
.p-facilities__img img {
  border-radius: rem(5);
  aspect-ratio: 360 / 230;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.p-facilities__detail {
  padding-top: rem(20);
}

.p-facilities__detail--scene {
  padding-left: rem(10);
  padding-right: rem(10);
}
.p-facilities__item-title {
  font-family: $second-font-family;
  font-size: rem(24);
  letter-spacing: 0.1em;
  font-weight: 700;
  line-height: calc(35 / 24);
  color: #fafafa;
  text-align: center;
}
.p-facilities__item-title--scene {
  color: #333;
}

.p-facilities__item-text {
  margin-top: rem(15);
  color: #fafafa;
  font-size: rem(16);
  line-height: calc(36 / 16);
  letter-spacing: 0.1em;
  font-weight: 400;
}
.p-facilities__item-text--scene {
  color: #3d4043;
}
