@use "global" as *;

.p-facilities {
  padding-top: rem(64);
  padding-bottom: rem(64);
  @include mq(md) {
    padding-top: rem(113);
    padding-bottom: rem(200);
  }
}
.p-facilities--taste {
  padding-top: rem(40);
  padding-bottom: rem(40);
  @include mq(md) {
    padding-top: rem(180);
    padding-bottom: rem(173);
  }
}

.p-facilities__content {
}
.p-facilities--taste .p-facilities__content {
  max-width: rem(1300);
  width: 100%;
  margin-left: auto;
}
.p-facilities__content--scene {
  max-width: rem(1300);
  width: 100%;
  margin-left: auto;
}
.p-facilities__title {
}

.p-facilities__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(16);
  margin-top: rem(40);
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(40);
    margin-top: rem(60);
  }
  @include mq(lg) {
    grid-template-columns: repeat(3, 1fr);
    gap: rem(60);
    margin-top: rem(80);
  }
}
.p-facilities__list--benefit,
.p-facilities__list--taste {
  gap: rem(50);
}

.p-facilities__item {
}
.p-facilities__list--benefit .p-facilities__item {
  display: flex;
  flex-direction: column;
}
.p-facilities__item--scene {
  background: #f5f2e8;
  border-radius: rem(5);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
  padding: rem(16);
  @include mq(md) {
    padding: rem(20);
  }
}

.p-facilities__img {
}
.p-facilities__img img {
  border-radius: rem(5);
  aspect-ratio: 360 / 230;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.p-facilities__img--benefit img {
  aspect-ratio: 360 / 220;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.p-facilities__img--taste img {
  aspect-ratio: 400 / 260;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.p-facilities__detail {
  padding-top: rem(16);
  @include mq(md) {
    padding-top: rem(20);
  }
}
.p-facilities__list--benefit .p-facilities__detail {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.p-facilities__detail--scene {
  padding-left: rem(10);
  padding-right: rem(10);
}
.p-facilities__item-title {
  font-family: $second-font-family;
  font-size: rem(16);
  letter-spacing: 0.1em;
  font-weight: 700;
  line-height: calc(35 / 24);
  color: #fafafa;
  text-align: center;
  @include mq(md) {
    font-size: clamp(16px, 2vw, 18px);
  }
  @include mq(lg) {
    font-size: rem(24);
  }
}
.p-facilities__item-title--scene {
  color: #333;
}

.p-facilities__item-text {
  color: #fafafa;
  line-height: calc(36 / 16);
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: rem(14);
  margin-top: rem(10);
  @include mq(md) {
    margin-top: rem(15);
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg){
    font-size: rem(16);
    
  }
}
.p-facilities__item-text--scene {
  color: #3d4043;
}
.mt200 {
  margin-top: rem(64);
  @include mq(md) {
    margin-top: rem(200);
  }
}
.pt221 {
  padding-top: rem(64);
  @include mq(md) {
    padding-top: rem(221);
  }
}
.p-facilities__btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  padding-top: rem(20);
  border-top: 1px dotted #c7c1b0;
}

.p-facilities__btn-text {
  font-size: rem(16);
  letter-spacing: 0.1em;
  line-height: calc(40 / 16);
  color: #333;
  font-weight: 400;
}

.p-facilities__btn-icon {
  width: rem(15);
}
.p-facilities__btn-icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-facilities__top-textWrapper {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(66);
  }
}

.p-facilities__top-text {
  font-size: rem(14);
  color: #fafafa;
  letter-spacing: 0.1em;
  line-height: calc(40 / 18);
  font-weight: 400;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(18);
  }
}
