@use "global" as *;

.p-fee {
  padding-bottom: rem(64);
  @include mq(md) {
    padding-bottom: rem(200);
  }
}

.p-fee__content {
  max-width: rem(1300);
  width: 100%;
  margin-left: auto;
}

.p-fee__title {
}

.p-fee__table {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}

.p-fee__submit {
  margin-top: rem(64);
  @include mq(md) {
    margin-top: rem(300);
  }
}
