@use "global" as *;

.p-header {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: transparent;
  top: rem(32);
  @include mq(md) {
    top: rem(55);
  }
}

.p-header__inner {
  max-width: rem(1820);
  width: 100%;
  margin-inline: auto;
  padding-left: rem(20);
  padding-right: rem(20);
  display: flex;
  justify-content: space-between;
  position: relative;
}

.p-header__logo {
}

.p-header__logo-link {
  display: block;
  width: rem(220);
  @include mq(md) {
    width: rem(320);
  }
  @include mq(lg) {
    width: rem(540);
  }
}
.p-header__logo-link img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-header__nav {
  display: none;

  @include mq(md) {
    display: flex;
    margin-left: auto;
    flex: 1;
    opacity: 1;
    visibility: visible;
    margin-top: rem(16);
    transition: 0.3s ease-in-out;
  }
}
.p-header__nav.is-active {
  opacity: 0;
  visibility: hidden;
}

.p-header__menu {
  display: flex;
  gap: rem(33);
  margin-left: auto;
}
.p-header__menu-item {
  display: flex;
  justify-content: center;
}

.p-header__menu-link {
  display: block;
  color: #fafafa;
  letter-spacing: 0.15em;
  font-family: $second-font-family;
  font-weight: 400;
  text-decoration: none;
  transition: opacity 0.3s ease;
  line-height: 1.5;
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: relative;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(16);
  }
}

.p-header__menu-link.is-active {
  font-weight: 700;
  padding-top: rem(18);
  color: #E8C2C2;

  &::before {
    content: "";
    display: block;
    width: rem(8);
    height: rem(8);
    background-color: #E8C2C2;
    border-radius: 50%;
    position: absolute;
    top: rem(0);
    left: 50%;
    transform: translateX(-50%);
  }
}

.p-header__drawer {
  margin-left: rem(33);
}
.p-header__btns {
  display: none;
  @include mq(md) {
    display: block;
    position: fixed;
    right: 0;
    bottom: rem(100);
  }
}

.p-header__btn-link {
  display: block;
  @include mq(md) {
    width: rem(56);
  }
  @include mq(lg) {
    width: rem(70);
  }
}
.p-header__btn-link img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-header__mice {
  display: none;
  @include mq(md) {
    display: block;
    right: rem(105);
    position: fixed;
    bottom: rem(80);
  }
  @include mq(lg) {
    bottom: rem(120);
  }
}

.p-header__mice-link {
  display: block;
  width: rem(360);
  filter: drop-shadow(5px 5px 10px rgba($color: #000, $alpha: 0.16));
  @include mq(md) {
    width: rem(280);
  }
  @include mq(lg) {
    width: rem(360);
  }
}

.p-header__mice-link img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-header__mice-cross {
  display: block;
  width: rem(30);
  position: absolute;
  top: rem(-16);
  right: rem(-16);
  z-index: 3;
  cursor: pointer;
}
.p-header__mice-cross img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
