@use "global" as *;

.p-heart {
  padding-top: rem(64);
  padding-bottom: rem(64);
  @include mq(md) {
    padding-top: rem(200);
    padding-bottom: rem(200);
  }
}

.p-heart__content {
  display: flex;
  flex-direction: column;
  gap: rem(40);
  width: 100%;
  margin-left: auto;
  @include mq(md) {
    flex-direction: row;
    gap: rem(100);
    max-width: rem(1300);
  }
}

.p-heart__detail {
  flex: 1;
}

.p-heart__title-ja {
  font-family: $second-font-family;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: calc(60 / 32);
  color: #fafafa;
  font-size: rem(20);
  @include mq(md) {
    font-size: rem(32);
  }
}

.p-heart__text {
  letter-spacing: 0.1em;
  line-height: calc(36 / 16);
  color: #fafafa;
  font-weight: 400;
  margin-top: rem(20);
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(16);
    margin-top: rem(30);
  }
}

.p-heart__img {
  width: 100%;
  @include mq(md) {
    max-width: rem(500);
  }
}
.p-heart__img img {
  aspect-ratio: 500 / 300;
  object-fit: cover;
  width: 100%;
  height: auto;
}
