@use "global" as *;

.p-heart {
  padding-top: rem(200);
  padding-bottom: rem(200);
}

.p-heart__content {
  display: flex;
  gap: rem(100);
  max-width: rem(1300);
  width: 100%;
  margin-left: auto;
}

.p-heart__detail {
  flex: 1;
}

.p-heart__title-ja {
  font-size: rem(32);
  font-family: $second-font-family;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: calc(60 / 32);
  color: #fafafa;
}

.p-heart__text {
  font-size: rem(16);
  letter-spacing: 0.1em;
  line-height: calc(36 / 16);
  color: #fafafa;
  font-weight: 400;
  margin-top: rem(30);
}

.p-heart__img {
  max-width: rem(500);
  width: 100%;
}
.p-heart__img img {
  aspect-ratio: 500 / 300;
  object-fit: cover;
  width: 100%;
  height: auto;
}
