@use "../global/" as *;

.p-lists {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 1000;
  top: 50%;
  transform: translateY(-50%);
  left: rem(30);
  padding-left: rem(25);
  border-left: 1px solid #2e4f77;
  mix-blend-mode: difference;
  color: #f5f2e8;
}
.p-lists.is-active {
  opacity: 1;
  visibility: visible;
}
.p-lists__list + .p-lists__list {
  margin-top: rem(8);
}
.p-lists__list {
}
.p-lists__link {
  display: inline-block;
  color: #f5f2e8;
  font-size: rem(14);
  letter-spacing: 0.1em;
  line-height: calc(36 / 14);
  font-weight: 400;
  opacity: 0.5;
}
.p-lists__link.is-active {
  opacity: 1;
}
