@use "../global/" as *;

.p-lists {
  z-index: 1000;
  padding-top: rem(24);
  padding-bottom: rem(24);
  padding-left: rem(25);
  border-left: 1px solid #2e4f77;
  display: flex;
  gap: rem(20);
  flex-wrap: wrap;
  @include mq(md) {
    display: block;
    padding-bottom: initial;
    padding-top: initial;
    left: rem(30);
    transition: 0.3s;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    top: 50%;
    transform: translateY(-50%);
    mix-blend-mode: difference;
    color: #f5f2e8;
  }
}
.p-lists.is-active {
  opacity: 1;
  visibility: visible;
}
.p-lists__list + .p-lists__list {
  @include mq(md) {
    margin-top: rem(15);
  }
}
.p-lists__link {
  display: inline-block;
  color: #f5f2e8;
  font-size: rem(14);
  letter-spacing: 0.1em;
  line-height: calc(14 / 14);
  font-weight: 400;
  opacity: 0.5;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(14);
  }
}
.p-lists__link.is-active {
  opacity: 1;
}
