@use "global" as *;

.p-location {
  padding-top: rem(90);
  padding-bottom: rem(100);
}
.p-location--suite {
  padding-top: rem(100);
}

.p-location__content {
  max-width: rem(1300);
  width: 100%;
  margin-left: auto;
}
.p-location__title-wrapper {
  text-align: center;
}

.p-location__title {
  letter-spacing: 0.2em;
  font-weight: 400;
  color: #fafafa;
  font-size: rem(32);
  font-family: $second-font-family;
}

.p-location__text-wrapper {
  @include mq(md) {
    margin-top: rem(40);
    text-align: center;
  }
}

.p-location__text {
  font-size: rem(18);
  line-height: calc(36 / 18);
  letter-spacing: 0.1em;
  font-weight: 400;
  color: #fafafa;
  font-family: $second-font-family;
}

.p-location__map {
  margin-top: rem(100);
}
.p-location__map iframe {
  aspect-ratio: 1400 / 600;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.p-location__hotel {
  margin-top: rem(100);
  display: grid;
  grid-template-columns: rem(600) 1fr;
  gap: rem(60);
  align-items: center;
  max-width: rem(1200);
  width: 100%;
  margin-inline: auto;
}

.p-location__img {
  max-width: rem(600);
  width: 100%;
}
.p-location__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-location__hotel-detail {
}

.p-location__hotel-title {
  color: #fafafa;
  font-size: rem(22);
  letter-spacing: 0.1em;
  font-weight: 400;
  font-family: $second-font-family;
  line-height: calc(31 / 22);
}

.p-location__dl {
  margin-top: rem(30);
}

.p-location__row {
  display: flex;
  padding-top: rem(20);
  padding-bottom: rem(20);
  border-top: 1px solid #2f4f77;
  gap: rem(64);
}

.p-location__row:last-child {
  border-bottom: 1px solid #2f4f77;
}
.p-location__dt {
  width: rem(80);
  font-size: rem(16);
  font-weight: 700;
  color: #fafafa;
  line-height: calc(36 / 16);
  letter-spacing: 0.1em;
}

.p-location__dd {
  font-size: rem(16);
  font-weight: 400;
  color: #fafafa;
  line-height: calc(36 / 16);
  letter-spacing: 0.1em;
}

.p-location__trafic {
  margin-top: rem(100);
  max-width: rem(1200);
  width: 100%;
  margin-inline: auto;
}

.p-location__trafic-row {
  display: flex;
  gap: rem(100);
  padding-top: rem(30);
  border-top: 1px solid #2f4f77;
  padding-bottom: rem(30);
}
.p-location__trafic-row:last-child {
  border-bottom: none;
  border-bottom: 1px solid #2f4f77;
}

.p-location__trafic-dt {
  width: rem(220);
  font-size: rem(22);
  font-weight: 400;
  color: #fafafa;
  line-height: calc(31 / 22);
  letter-spacing: 0.1em;
  font-family: $second-font-family;
}

.p-location__trafic-dd {
}

.p-location__trafic-text {
  font-size: rem(16);
  font-weight: 700;
  color: #fafafa;
  line-height: calc(36 / 16);
  letter-spacing: 0.1em;
}
.p-location__swiper {
  margin-top: rem(100);
}