@use "global" as *;

.p-location {
  padding-top: rem(64);
  padding-bottom: rem(64);
  @include mq(md) {
    padding-top: rem(90);
    padding-bottom: rem(100);
  }
}

.p-location--suite {
  padding-top: rem(48);
  @include mq(md) {
    padding-top: rem(100);
  }
}

.p-location__content {
  max-width: rem(1300);
  width: 100%;
  margin-left: auto;
}
.p-location__title-wrapper {
  @include mq(md) {
    text-align: center;
  }
}

.p-location__title {
  letter-spacing: 0.2em;
  font-weight: 400;
  color: #fafafa;
  font-size: rem(20);
  font-family: $second-font-family;
  @include mq(md) {
    font-size: rem(32);
  }
}

.p-location__text-wrapper {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(40);
    text-align: center;
  }
}

.p-location__text {
  font-size: rem(14);
  line-height: calc(36 / 18);
  letter-spacing: 0.1em;
  font-weight: 400;
  color: #fafafa;
  font-family: $second-font-family;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(18);
  }
}

.p-location__map {
  margin-top: rem(48);
  @include mq(md) {
    margin-top: rem(100);
  }
}
.p-location__map iframe {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 355 / 355;
  @include mq(md) {
    aspect-ratio: 1400 / 600;
  }
}
.p-location__hotel {
  display: grid;
  align-items: center;
  max-width: rem(1200);
  width: 100%;
  margin-inline: auto;
  margin-top: rem(48);
  grid-template-columns: 1fr;
  gap: rem(32);
  @include mq(md) {
    gap: rem(60);
    margin-top: rem(100);
    grid-template-columns: rem(600) 1fr;
  }
}

.p-location__img {
  max-width: rem(600);
  width: 100%;
}
.p-location__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-location__hotel-detail {
}

.p-location__hotel-title {
  color: #fafafa;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-family: $second-font-family;
  line-height: calc(31 / 22);
  font-size: rem(16);
  @include mq(md) {
    font-size: clamp(16px, 2vw, 16px);
  }
  @include mq(lg) {
    font-size: rem(22);
  }
}

.p-location__dl {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(30);
  }
}

.p-location__row {
  border-top: 1px solid #2f4f77;
  display: flex;
  gap: rem(12);
  padding-top: rem(12);
  padding-bottom: rem(12);
  flex-direction: column;
  @include mq(md) {
    flex-direction: row;
    padding-top: rem(20);
    padding-bottom: rem(20);
    gap: rem(48);
  }
  @include mq(lg) {
    gap: rem(64);
  }
}

.p-location__row:last-child {
  border-bottom: 1px solid #2f4f77;
}
.p-location__dt {
  font-weight: 700;
  color: #fafafa;
  line-height: calc(36 / 16);
  letter-spacing: 0.1em;
  font-size: rem(14);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
    width: rem(120);
  }
  @include mq(lg) {
    width: rem(80);
    font-size: rem(16);
  }
}

.p-location__dd {
  font-size: rem(14);
  font-weight: 400;
  color: #fafafa;
  line-height: calc(36 / 16);
  letter-spacing: 0.1em;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(16);
  }
}

.p-location__trafic {
  width: 100%;
  margin-inline: auto;
  margin-top: rem(48);
  @include mq(md) {
    max-width: rem(1200);
    margin-top: rem(100);
  }
}

.p-location__trafic-row {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  border-top: 1px solid #2f4f77;
  padding-top: rem(16);
  padding-bottom: rem(16);
  @include mq(md) {
    flex-direction: row;
    gap: rem(100);
    padding-top: rem(30);
    padding-bottom: rem(30);
  }
}
.p-location__trafic-row:last-child {
  border-bottom: none;
  border-bottom: 1px solid #2f4f77;
}

.p-location__trafic-dt {
  font-weight: 400;
  color: #fafafa;
  line-height: calc(31 / 22);
  letter-spacing: 0.1em;
  font-family: $second-font-family;
  font-size: rem(16);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
    width: rem(300);
    white-space: nowrap;
  }
  @include mq(lg) {
    width: rem(220);
    font-size: rem(22);
  }
}

.p-location__trafic-dd {
  @include mq(md){
   flex: 1; 
  }
}

.p-location__trafic-text {
  font-weight: 700;
  color: #fafafa;
  line-height: calc(36 / 16);
  letter-spacing: 0.1em;
  font-size: rem(14);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(16);
  }
}
.p-location__swiper {
  margin-top: rem(48);
  @include mq(md) {
    margin-top: rem(100);
  }
}
