@use "global" as *;

.p-meal {
  padding-top: rem(64);
  padding-bottom: rem(64);
  @include mq(md) {
    padding-top: rem(200);
    padding-bottom: rem(200);
  }
}

.p-meal__content {
  max-width: rem(1300);
  width: 100%;
  margin-left: auto;
}

.p-meal__text {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(60);
  }
}

.p-meal__text-item {
  font-size: rem(14);
  line-height: calc(40 / 18);
  letter-spacing: 0.1em;
  font-weight: 400;
  color: #fafafa;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(18);
  }
}

.p-meal__swiper {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: 100vw;
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(60);
  }
}

.swiper {
}

.slider4 {
}

.swiper-wrapper {
}

.swiper-slide {
}

.p-meal__img {
}
.p-meal__img img {
  aspect-ratio: 810 / 540;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.p-meal__flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  @include mq(md) {
    flex-direction: row;
  }
}
.p-meal--lunch .p-menu__price,
.p-meal--lunch .p-menu__price span,
.p-meal--lunch .p-menu__tax,
.p-meal--lunch .p-menu__text-right,
.p-meal--lunch .p-menu__double-title {
  color: #fff;
}
.p-meal__date {
  text-align: center;
  position: relative;
  padding-top: rem(16);
  padding-bottom: rem(16);
  margin-top: rem(24);
  @include mq(md) {
    padding-top: rem(25);
    padding-bottom: rem(25);
    margin-top: rem(60);
  }
}
.p-meal__date::before {
  position: absolute;
  content: "";
  background: #020818;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.p-meal__date-text {
  font-family: $second-font-family;
  font-weight: 400;
  line-height: calc(35 / 24);
  color: #f5f2e8;
  position: relative;
  z-index: 2;
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(24);
  }
}
.p-meal__menu {
  display: flex;
  align-items: center;
  gap: rem(20);
  margin-top: rem(40);
  flex-direction: column;
  @include mq(md) {
    flex-direction: row;
    margin-top: rem(80);
  }
}

.p-meal__menu-text {
  font-family: $second-font-family;
  font-size: rem(16);
  font-weight: 700;
  line-height: calc(60 / 22);
  color: #cdd2d8;
  letter-spacing: 0.1em;
  white-space: nowrap;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(22);
  }
}

.p-meal__menu-line {
  height: 1px;
  width: 100%;
  background: #2f4f77;
}
.p-meal__big {
  display: flex;
  flex-direction: column;
  margin-top: rem(24);
  gap: rem(16);
  @include mq(md) {
    flex-direction: row;
    gap: rem(80);
    margin-top: rem(40);
  }
}

.p-meal__big-img {
  width: 100%;
  @include mq(md) {
    max-width: rem(600);
  }
  @include mq(lg) {
    max-width: rem(700);
  }
}
.p-meal__big-img img {
  aspect-ratio: 750 / 500;
  object-fit: cover;
  width: 100%;
  height: auto;
}
