@use "global" as *;

.p-meal {
  padding-top: rem(200);
  padding-bottom: rem(200);
}

.p-meal__content {
  max-width: rem(1300);
  width: 100%;
  margin-left: auto;
}

.p-meal__text {
  margin-top: rem(60);
}

.p-meal__text-item {
  font-size: rem(18);
  line-height: calc(40 / 18);
  letter-spacing: 0.1em;
  font-weight: 400;
  color: #fafafa;
}

.p-meal__swiper {
  margin-top: rem(60);
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: 100vw;
}

.swiper {
}

.slider4 {
}

.swiper-wrapper {
}

.swiper-slide {
}

.p-meal__img {
}
.p-meal__img img {
  aspect-ratio: 810 / 540;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.p-meal__flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.p-meal--lunch .p-menu__price,
.p-meal--lunch .p-menu__price span,
.p-meal--lunch .p-menu__tax,
.p-meal--lunch .p-menu__text-right,
.p-meal--lunch .p-menu__double-title {
  color: #fff;
}
.p-meal__date {
  text-align: center;
  margin-top: rem(60);
  padding-top: rem(25);
  padding-bottom: rem(25);
  position: relative;
}
.p-meal__date::before {
  position: absolute;
  content: "";
  background: #2e4f77;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  mix-blend-mode: multiply;
}

.p-meal__date-text {
  font-family: $second-font-family;
  font-size: rem(24);
  font-weight: 400;
  line-height: calc(35 / 24);
  color: #f5f2e8;
  position: relative;
  z-index: 2;
}
