@use "global" as *;

.p-other {
  padding-bottom: rem(200);
}

.p-other__content {
  max-width: rem(1300);
  width: 100%;
  margin-left: auto;
}

.p-other__title {
  display: flex;
  align-items: center;
  gap: rem(10);
}

.p-other__title-text {
  font-size: rem(22);
  font-family: $second-font-family;
  letter-spacing: 0.1em;
  line-height: calc(60 / 22);
  font-weight: 400;
  color: #cdd2d8;
  white-space: nowrap;
}

.p-other__line {
  flex: 1;
  height: 1px;
  width: 100%;
  background: #2f4f77;
}

.p-other__cards {
  margin-top: rem(50);
}

.p-other__grid {
  display: flex;
  gap: rem(50);
  flex-wrap: wrap;
  justify-content: center;
}

.p-other__card {
  max-width: rem(400);
  width: 100%;
}

.p-other__card-img {
}
.p-other__card-img img {
  aspect-ratio: 400 / 200;
  object-fit: cover;
  width: 100%;
  height: auto;
  border-top-left-radius: rem(10);
  border-top-right-radius: rem(10);
}
.p-other__card-bg {
  position: relative;
  padding-top: rem(20);
  padding-bottom: rem(20);
  border-bottom-left-radius: rem(10);
  border-bottom-right-radius: rem(10);
  text-align: center;
}
.p-other__card-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2e4f77;
  mix-blend-mode: multiply;
  border-bottom-left-radius: rem(10);
  border-bottom-right-radius: rem(10);
}
.p-other__card-name {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: rem(18);
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: calc(26 / 18);
  font-family: $second-font-family;
}

.p-other__flex {
}
