@use "global" as *;

.p-page-mv {
  padding-top: rem(120);
  @include mq(md) {
    padding-top: rem(222);
  }
}

.p-page-mv__inner {
  max-width: rem(1720);
  width: 100%;
  margin-inline: auto;
}

.p-page-mv__content {
  position: relative;
}

.p-page-mv__img {
  width: 100vw;
  margin-inline: calc(50% - 50vw);
  padding-left: rem(20);
  padding-right: rem(20);
  @include mq(md) {
    padding-left: rem(30);
    padding-right: rem(30);
  }
}
.p-page-mv__img img {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 750 / 750;
  @include mq(md) {
    aspect-ratio: 1860 / 670;
  }
}

.p-page-mv__detail {
  position: absolute;
  top: 50%;
  left: rem(40);
  transform: translateY(-50%);
  @include mq(md) {
    width: 100%;
  }
}

.p-page-mv__title {
  display: flex;
  flex-direction: column;
  gap: rem(10);
}

.p-page-mv__title-ja {
  font-weight: 500;
  color: #fafafa;
  font-family: $second-font-family;
  font-size: rem(32);
  @include mq(md) {
    font-size: rem(80);
  }
}

.p-page-mv__title-en {
  letter-spacing: 0.05em;
  color: #fafafa;
  font-family: $font-en;
  font-weight: 400;
  position: relative;
  padding-left: rem(20);
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(26);
    padding-left: rem(40);
  }
}

.p-page-mv__title-en::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: rem(25);
  height: 2px;
  background: linear-gradient(to right, #fafafa, transparent);
}
