@use "global" as *;

.p-qa {
  padding-top: rem(64);
  padding-bottom: rem(64);
}

.p-qa__title-wrapper {
  text-align: center;
}

.p-qa__title {
  color: #696969;
  font-size: rem(16);
  letter-spacing: 0.065em;
  @include mq(md) {
    font-size: rem(26);
  }
}
.p-qa__block {
  max-width: rem(846);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.p-qa__summary {
  color: #fff;
  cursor: pointer;
  position: relative;
  padding-top: rem(24);
  padding-bottom: rem(24);
  padding-left: rem(24);
  list-style: none;
  border-top: 1px solid #c7c1b0;
}
.p-qa__content:last-child .p-qa__summary {
  border-bottom: 1px solid #c7c1b0;
}
.p-qa__summary::before {
  content: "";
  display: inline-block;
  width: rem(20);
  height: 2px;
  background: #696969;
  transform: translateY(-50%) rotate(90deg);
  position: absolute;
  top: 50%;
  right: rem(20);
  transition: all 0.3s ease-out;
}
.p-qa__summary::after {
  content: "";
  display: inline-block;
  width: rem(20);
  height: 2px;
  background: #696969;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: rem(20);
  transition: all 0.3s ease-out;
}
.p-qa__summary--service::before {
  background: #fafafa;
}
.p-qa__summary--service::after {
  background: #fafafa;
}
.p-qa__summary.is-opened::before {
  transform: rotate(0deg) translateY(-50%);
  top: 50%;
}

.p-qa__ttl {
  font-size: rem(16);
  font-weight: 700;
  position: relative;
  color: #2e4f77;
  line-height: calc(40 / 26);
  letter-spacing: 0.1em;
  @include mq(md) {
    font-size: rem(26);
  }
}
.p-qa__ttl--service {
  color: #fafafa;
  font-size: rem(16);
  font-family: $second-font-family;
  font-weight: 400;
  line-height: calc(40 / 24);
  @include mq(md) {
    font-size: rem(24);
  }
}

.p-qa__ttl span {
  font-weight: 500;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(20);
  }
}

.p-qa__inner {
  overflow: hidden;
  padding-right: rem(24);
  padding-left: rem(24);
}

.p-qa__wrap {
  padding-top: rem(20);
  padding-bottom: rem(20);
  border-top: 1px dotted #c7c1b0;
}
.p-qa__wrap--service {
  padding-top: rem(30);
  padding-bottom: rem(30);
}
.p-qa__txt {
  font-weight: 400;
  position: relative;
  color: #333;
  line-height: calc(36 / 16);
  letter-spacing: 0.1em;
  position: relative;
  padding-left: rem(17);
  font-size: rem(14);
  padding-right: rem(16);
  @include mq(md){
    font-size: rem(16);
  }
}
.p-qa__txt::before {
  content: "";
  display: inline-block;
  width: rem(8);
  height: rem(8);
  background: #2e4f77;
  top: rem(14);
  left: 0;
  border-radius: 9999px;
  position: absolute;
}
.p-qa__txt + .p-qa__txt {
  margin-top: rem(20);
}
.p-qa__service-lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.p-qa__service-list {
}

.p-qa__service-list-text {
  font-size: rem(16);
  font-weight: 400;
  color: #fafafa;
  line-height: calc(36 / 16);
  letter-spacing: 0.1em;
  position: relative;
  padding-left: rem(20);
}
.p-qa__service-list-text::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: rem(10);
  height: rem(3);
  background: #fafafa;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.p-qa__service-list-text + .p-qa__service-list-text {
  margin-top: rem(10);
}
