@use "global" as *;

.p-rooms {
  padding-top: rem(64);
  padding-bottom: rem(64);
  background: url(../images/common/room_bg.svg) no-repeat center center / cover;
  @include mq(md) {
    padding-top: rem(180);
    padding-bottom: rem(180);
  }
}

.p-rooms--stay {
  background: initial;
}
.p-rooms__content {
  max-width: rem(1300);
  width: 100%;
  margin-left: auto;
}
.p-rooms__tabs {
  display: grid;
  margin-top: rem(40);
  gap: rem(16);
  grid-template-columns: 1fr;
  grid-template-columns: repeat(3, 1fr);
  @include mq(md) {
    margin-top: rem(100);
    gap: rem(80);
  }
}
.p-rooms__tabs--menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: rem(840);
  gap: rem(16);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    flex-direction: row;
    gap: rem(80);
  }
}

.p-rooms__tab {
  flex: 1;
  background: transparent;
  border: none;
  border-bottom: 3px solid transparent;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  font-family: $second-font-family;
  letter-spacing: 0.075em;
  font-weight: 500;
  border-bottom: 2px solid #f5f2e8;
  font-size: rem(16);
  padding: rem(10) rem(16);
  @include mq(md) {
    padding: rem(20) rem(30);
    font-size: rem(24);
  }

  &:hover {
    background: #f5f5f5;
  }

  &--active {
    color: #333;
    border-bottom-color: #2c5f8d;
    font-weight: 700;
  }
}
.p-rooms__panel {
  display: none;
  opacity: 0;
  transition: opacity 0.4s ease;
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(107);
  }
  &--active {
    display: block;
    animation: fadeIn 0.4s ease forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.p-rooms__item {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: rem(16);
  @include mq(md) {
    flex-direction: row;
    gap: rem(80);
  }
}
.p-rooms__item--stay {
  gap: rem(16);
  @include mq(md) {
    gap: rem(60);
  }
}
.p-rooms__item + .p-rooms__item {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(100);
  }
}

.p-rooms__img {
  width: 100%;
  @include mq(md) {
    max-width: rem(600);
  }
  @include mq(lg) {
    max-width: rem(750);
  }
}
.p-rooms__img--stay {
  width: 100%;
  @include mq(md) {
    max-width: rem(440);
  }
  @include mq(lg) {
    max-width: rem(660);
  }
}

.p-rooms__img img {
  aspect-ratio: 750 / 500;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.p-rooms__img--stay img {
  aspect-ratio: 660 / 440;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.p-rooms__detail {
  flex: 1;
  width: 100%;
  @include mq(md) {
    max-width: rem(470);
  }
}

.p-rooms__name {
  font-size: rem(20);
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: calc(44 / 30);
  color: #333;
  text-align: center;
  font-family: $second-font-family;
  @include mq(md) {
    text-align: initial;
    font-size: rem(30);
  }
}
.p-rooms__name--stay {
  color: #fafafa;
}
.p-rooms__description {
  font-size: rem(14);
  letter-spacing: 0.1em;
  line-height: calc(36 / 16);
  font-weight: 400;
  color: #333;
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(24);
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(16);
  }
}
.p-rooms__description--stay {
  color: #fafafa;
}
.p-rooms__info {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(30);
  }
}

.p-rooms__info-row {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(8);
  padding: rem(8) 0;
  border-bottom: 1px solid #c7c1b0;
  @include mq(md) {
    grid-template-columns: rem(100) 1fr;
    gap: rem(40);
    padding: rem(10) 0;
    border-bottom: 1px solid #c7c1b0;
  }
  &:first-child {
    border-top: 1px solid #c7c1b0;
  }
}
.p-rooms__info-row--stay {
  gap: initial;
}

.p-rooms__info-label {
  font-size: rem(14);
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #333;
  line-height: calc(36 / 14);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(14);
  }
}
.p-rooms__info-label--stay {
  color: #fafafa;
}

.p-rooms__info-value {
  font-size: rem(14);
  color: #333;
  line-height: calc(36 / 14);
  letter-spacing: 0.1em;
  font-weight: 400;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(14);
  }
}
.p-rooms__info-value--stay {
  color: #fafafa;
}

.p-rooms__buttons {
  display: flex;
  flex-direction: column;
  margin-top: rem(40);
  gap: rem(7);
}

.p-rooms__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: rem(56);
  padding-left: rem(30);
  padding-right: rem(50);
  border-radius: rem(4);
  transition: all 0.3s ease;
  border-radius: rem(3);
  position: relative;
}
.p-rooms__button::before {
  position: absolute;
  content: "";
  background: #2e4f77;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
}
.p-rooms__top-textWrapper {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(60);
  }
}

.p-rooms__top-text {
  font-size: rem(14);
  line-height: calc(40 / 18);
  letter-spacing: 0.1em;
  font-weight: 400;
  color: #333;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(18);
  }
}
.p-rooms__button-text {
  font-size: rem(16);
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #fafafa;
  line-height: calc(40 / 18);
  position: relative;
  z-index: 1;
  @include mq(md) {
    font-size: clamp(16px, 2vw, 18px);
  }
  @include mq(lg) {
    font-size: rem(18);
  }
}
.p-rooms__button-icon {
  width: rem(15);
  display: inline-block;
  position: relative;
  z-index: 1;
}
.p-rooms__button-icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-rooms__all {
  margin-top: rem(120);
}

.p-rooms__all-title-wrapper {
}
.p-rooms__title-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(20);
}
.p-rooms__all-title {
  font-size: rem(22);
  font-weight: 700;
  white-space: nowrap;
  letter-spacing: 0.1em;
  line-height: calc(60 / 22);
  color: #2e4f77;
  font-family: $second-font-family;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(22);
  }
}
.p-rooms__all-line {
  width: 100%;
  height: 1px;
  background: #f5f2e8;
}
.p-rooms__all-text {
  margin-top: rem(40);
  font-size: rem(16);
  letter-spacing: 0.1em;
  line-height: calc(36 / 16);
  font-weight: 400;
  color: #333;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(16);
  }
}
.p-rooms__all-text span {
  font-weight: 700;
}
.p-rooms__qa {
  display: flex;
  flex-direction: column;
  margin-top: rem(60);
  gap: rem(40);
  @include mq(md) {
    gap: rem(100);
    flex-direction: row;
    margin-top: rem(120);
  }
}
.p-rooms__qa-img {
  width: 100%;
  @include mq(md) {
    max-width: rem(400);
  }
}
.p-rooms__qa-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-rooms__menu {
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(60);
  }
}
.mt50 {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(50);
  }
}
.p-rooms__kind {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(20);
}

.p-rooms__kind-text {
  color: #cdd2d8;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-family: $second-font-family;
  line-height: calc(60 / 22);
  white-space: nowrap;
  font-size: rem(16);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(22);
  }
}

.p-rooms__line {
  width: 100%;
  height: 1px;
  background: #2f4f77;
}
.p-rooms__flex {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  align-items: flex-start;
  @include mq(md) {
    flex-direction: row;
    gap: rem(63);
  }
}
.p-rooms__flex-title {
  display: flex;
  flex-direction: column-reverse;
  @include mq(md) {
    flex-direction: row-reverse;
    gap: rem(10);
    position: sticky;
    align-self: flex-start;
    height: fit-content;
    top: rem(160);
  }
}

.p-rooms__flex-title-ja {
  font-family: $second-font-family;
  font-size: rem(16);
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: calc(60 / 22);
  color: #fafafa;
  white-space: nowrap;
  @include mq(md) {
    writing-mode: vertical-rl;
    font-size: clamp(18px, 2vw, 20px);
  }
  @include mq(lg) {
    font-size: rem(22);
  }
}

.p-rooms__flex-title-en {
  color: #fafafa;
  font-size: rem(26);
  font-family: $font-en;
  letter-spacing: 0.05em;
  font-weight: 400;
  line-height: 1;
  @include mq(md) {
    font-size: clamp(40px, 2vw, 48px);
    writing-mode: vertical-rl;
  }
  @include mq(lg) {
    font-size: rem(60);
  }
}
.p-rooms__vertical-img img {
  aspect-ratio: 1140 / 650;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.p-rooms__vertical-detail {
  display: grid;
  margin-top: rem(24);
  grid-template-columns: 1fr;
  gap: rem(12);
  @include mq(md) {
    gap: rem(64);
    grid-template-columns: 50% 40%;
    margin-top: rem(32);
  }
  @include mq(lg) {
    gap: rem(120);
    margin-top: rem(45);
    grid-template-columns: rem(600) rem(420);
  }
}
.mt160 {
  margin-top: rem(48);
  @include mq(md) {
    margin-top: rem(160);
  }
}
