@use "../global/" as *;

.p-reserve {
  &__agreement {
    margin-top: rem(30);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(20);
    padding-top: rem(30);
    padding-bottom: rem(30);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #2E4F77;
      mix-blend-mode: multiply;
    }
  }

  &__checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;
    z-index: 2;
  }

  &__checkbox {
    width: rem(20);
    height: rem(20);
    margin-right: rem(10);
    cursor: pointer;
    flex-shrink: 0;
  }

  &__checkbox-text {
    font-size: rem(20);
    line-height: calc(40 / 20);
    letter-spacing: 0.1em;
    font-weight: 400;
    color: #fafafa;
  }

  &__button-wrapper {
    margin-top: rem(40);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(48);
  }

  &__tel-wrapper {
    margin-top: rem(30);
  }

  &__tel {
    font-size: rem(46);
    font-family: $font-en;
    font-weight: 400;
    color: #fafafa;
    letter-spacing: 0.05em;
  }

  &__small {
    font-size: rem(18);
    font-weight: 400;
    color: #fafafa;
    letter-spacing: 0.1em;
    line-height: calc(40 / 18);
    text-align: left;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(800);
    height: rem(150);
    gap: rem(20);
    background: #E8C2C2;
    border-radius: rem(10);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover:not(:disabled) {
      background-color: #006666;
      transform: translateY(-2px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  &__button-icon {
    width: rem(35);
    display: inline-block;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center center;
    }
  }
  &__button-text {
    font-size: rem(30);
    color: #07182b;
    letter-spacing: 0.1em;
    font-weight: 500;
    font-family: $second-font-family;
  }
}
.p-reserve__title-wrapper {
  text-align: center;
}
.p-reserve__title {
  font-size: rem(32);
  font-weight: 400;
  color: #fafafa;
  letter-spacing: 0.2em;
  font-family: $second-font-family;
}
.p-reserve__text-wrapper {
  margin-top: rem(100);
  text-align: center;
}
.p-reserve__text {
  font-size: rem(18);
  line-height: calc(40 / 18);
  letter-spacing: 0.1em;
  font-weight: 400;
  color: #fafafa;
}
.p-reserve__link {
  font-weight: 700;
  text-decoration: underline;
}
