@use "global" as *;

.p-suite__spec {
  margin-top: rem(40);
  overflow-x: auto;
  @include mq(md) {
    margin-top: rem(87);
  }
}

.p-suite__spec-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #2f4f77;
}

.p-suite__spec-header {
  padding-top: rem(8);
  padding-bottom: rem(8);
  text-align: center;
  white-space: nowrap;
  position: relative;
}
.p-suite__spec-header p {
  position: relative;
  font-size: rem(14);
  letter-spacing: 0.1em;
  line-height: calc(40 / 18);
  font-weight: 400;
  color: #fafafa;
  z-index: 3;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(18);
  }
}
.p-suite__spec-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2f4f77;
  mix-blend-mode: multiply;
  z-index: 0;
}

.p-suite__spec-data {
  padding-top: rem(8);
  padding-bottom: rem(8);
  font-size: rem(14);
  line-height: calc(40 / 18);
  font-weight: 400;
  color: #fafafa;
  text-align: center;
  letter-spacing: 0.1em;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(18);
  }
}
.border-left {
  border-left: 1px solid #2f4f77;
}
