@use "global" as *;

.p-service {
  padding-bottom: rem(250);
}
.p-service__content {
  max-width: rem(1300);
  width: 100%;
  margin-left: auto;
}

.p-service__img {
  max-width: rem(320);
  width: 100%;
}
.p-service__img img {
  aspect-ratio: 320 / 500;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.p-service__bottom {
  margin-top: rem(40);
}
.p-service__bottom-text {
  font-size: rem(14);
  line-height: calc(30 / 14);
  letter-spacing: 0.1em;
  font-weight: 400;
  color: #fff;
}
.p-service__reserve {
  margin-top: rem(250);
}