@use "global" as *;

.p-service {
  padding-bottom: rem(48);
  @include mq(md) {
    padding-bottom: rem(200);
  }
}
.p-service__content {
  max-width: rem(1300);
  width: 100%;
  margin-left: auto;
}

.p-service__img {
  width: 100%;
  @include mq(md) {
    max-width: rem(320);
  }
}
.p-service__img img {
  aspect-ratio: 320 / 500;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.p-service__bottom {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(40);
  }
}
.p-service__bottom-text {
  font-size: rem(14);
  line-height: calc(30 / 14);
  letter-spacing: 0.1em;
  font-weight: 400;
  color: #fff;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(14);
  }
}
.p-service__reserve {
  margin-top: rem(48);
  @include mq(md) {
    margin-top: rem(250);
  }
}
