@use "global" as *;

.p-submit {
  background: url(../images/common/bg_submit.jpg) no-repeat center center;
  padding-top: rem(64);
  padding-bottom: rem(64);
  @include mq(md) {
    padding-top: rem(190);
    padding-bottom: rem(226);
  }
}

.p-submit__content {
}

.p-submit__title-wrapper {
  text-align: center;
}

.p-submit__title {
  font-family: $second-font-family;
  color: #fafafa;
  letter-spacing: 0.1em;
  line-height: calc(60 / 28);
  font-weight: 500;
  font-size: rem(20);
  @include mq(md) {
    font-size: rem(28);
  }
}

.p-submit__text {
  line-height: calc(40 / 16);
  letter-spacing: 0.05em;
  font-weight: 400;
  color: #fafafa;
  font-size: rem(14);
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(30);
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(16);
  }
}

.p-submit__btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: rem(24);
  gap: rem(12);
  @include mq(md) {
    flex-direction: row;
    gap: rem(20);
    margin-top: rem(50);
  }
}

.p-submit__btn {
  color: #3d4043;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-family: $second-font-family;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #e8adad, #e8c2c2);
  width: 100%;
  height: rem(80);
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(26);
    width: rem(400);
    height: rem(100);
  }
}

.p-submit__btn--food {
  background: linear-gradient(to bottom, #eee7d3, #f5f2e8);
}
