@use "global" as *;

.p-top-life {
  padding-top: rem(64);
  padding-bottom: rem(64);
  overflow-x: clip;
  @include mq(md) {
    padding-top: rem(250);
    padding-bottom: rem(130);
  }
}
.p-top-life__content {
}

.p-top-life__top {
  @include mq(md) {
    display: flex;
    gap: rem(48);
  }
}

.p-top-life__title {
  white-space: nowrap;
}

.p-top-life__top-text {
  line-height: calc(36 / 16);
  letter-spacing: 0.1em;
  font-weight: 400;
  color: #fafafa;
  font-size: rem(14);
  margin-top: rem(24);
  @include mq(md) {
    margin-top: initial;
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(16);
  }
}

.p-top-life__middle {
  margin-top: rem(40);
  position: relative;
  @include mq(md) {
    margin-top: rem(80);
  }
}

.p-top-life__topImg {
  margin-inline: calc(50% - 50vw);
  width: 100vw;
}
.p-top-life__topImg img {
  aspect-ratio: 50 / 50;
  object-fit: cover;
  width: 100%;
  height: auto;
  @include mq(md) {
    aspect-ratio: initial;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
  }
}

.p-top-life__middle-detail {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-top-life__middle-top {
}

.p-top-life__middle-title {
  font-size: rem(20);
  color: #fafafa;
  font-family: $second-font-family;
  font-weight: 400;
  text-transform: uppercase;
  @include mq(md) {
    font-size: rem(50);
  }
}

.p-top-life__middle-ja {
  font-size: rem(14);
  color: #fafafa;
  font-family: $second-font-family;
  font-weight: 400;
  @include mq(md) {
    font-size: rem(20);
  }
}

.p-top-life__middle-text {
  margin-top: rem(32);
  color: #fafafa;
  font-size: rem(14);
  letter-spacing: 0.1em;
  font-weight: 400;
  line-height: calc(36 / 16);
  position: relative;
  @include mq(md) {
    margin-top: rem(60);
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(16);
  }
}
.p-top-life__middle-text::before {
  content: "";
  position: absolute;
  top: rem(-30);
  left: 0;
  width: rem(15);
  height: 2px;
  background-color: #fafafa;
  z-index: 1;
}
.p-top-life__middle-arrow {
  display: inline-block;
  width: rem(40);
}
.p-top-life__middle-arrow img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-top-life__center {
  padding-top: rem(40);
  position: relative;
  z-index: 2;
  @include mq(md) {
    text-align: center;
    padding-top: rem(80);
  }
}

.p-top-life__center-text {
  color: #fafafa;
  font-family: $second-font-family;
  font-size: rem(14);
  letter-spacing: 0.2em;
  line-height: calc(60 / 32);
  letter-spacing: 0.2em;
  @include mq(md){
    font-size: clamp(14px, 2vw, 24px);
  }
  @include mq(lg) {
    font-size: rem(32);
  }
}
.p-top-life__about {
  position: relative;
  margin-top: rem(40);
  padding-top: rem(40);
  @include mq(md) {
    margin-top: rem(70);
    padding-top: rem(70);
  }
}
.p-top-life__about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 1400 / 1;
  object-fit: cover;
  width: 100%;
  height: auto;
  background: url(../images/common/top_life_line.png) no-repeat center
    center/cover;
}
.p-top-life__about-top {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    gap: rem(144);
  }
}

.p-top-life__about-text {
  color: #fafafa;
  line-height: calc(40 / 18);
  letter-spacing: 0.1em;
  font-weight: 400;
  margin-top: rem(24);
  font-size: rem(14);
  @include mq(md) {
    margin-top: initial;
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(18);
  }
}

.p-top-life__about-grid {
  display: grid;
  margin-top: rem(24);
  grid-template-columns: repeat(1, 1fr);
  margin-top: rem(24);
  gap: rem(16);
  @include mq(md) {
    gap: rem(40);
    margin-top: rem(50);
    grid-template-columns: repeat(4, 1fr);
  }
}

.p-top-life__about-item {
}

.p-top-life__about-img {
}
.p-top-life__about-img img {
  aspect-ratio: 320 / 220;
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: rem(5);
}

.p-top-life__about-detail {
  padding-top: rem(10);
  text-align: center;
}
.p-top-life__about-detailTitle {
  color: #fafafa;
  font-family: $font-en;
  letter-spacing: 0.05em;
  font-weight: 400;
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(26);
  }
}
.p-top-life__about-detailTitle span {
  font-size: rem(20);
  @include mq(md) {
    font-size: rem(40);
  }
}

.p-top-life__about-detailText {
  color: #fafafa;
  font-size: rem(14);
  letter-spacing: 0.05em;
  font-weight: 400;
  @include mq(md) {
    margin-top: rem(10);
    font-size: clamp(12px, 2vw, 12px);
  }
  @include mq(lg) {
    font-size: rem(14);
  }
}

.p-top-life__bottom {
  margin-top: rem(48);
  display: flex;
  flex-direction: column;
  gap: rem(16);
  @include mq(md) {
    flex-direction: row;
    justify-content: center;
    gap: rem(30);
    margin-top: rem(90);
  }
}

.p-top-life__bottom-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2e4f77;
  border-radius: rem(3);
  height: rem(60);
  width: 100%;
  padding-left: rem(20);
  padding-right: rem(20);
  @include mq(md) {
    padding-left: rem(30);
    padding-right: rem(50);
    height: rem(80);
    width: rem(470);
  }
}
.p-top-life__bottom-link--black {
  background: #e8c2c2;
}

.p-top-life__bottom-text {
  letter-spacing: 0.1em;
  font-weight: 400;
  color: #fafafa;
  font-size: rem(16);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(20);
  }
}
.p-top-life__bottom-text--black {
  color: #333;
}
.p-top-life__icon {
  width: rem(15);
}
.p-top-life__icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-top-line__bg {
  position: relative;
  padding-bottom: rem(64);
  @include mq(md) {
    padding-bottom: rem(130);
  }
}
.p-top-line__bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #020818;
  z-index: 0;
  margin-inline: calc(50% - 50vw);
  width: 100vw;
}
