@use "global" as *;

.p-top-service {
  background: url(../images/common/top_service_bg.jpg) no-repeat center center /
    cover;
  padding-top: rem(64);
  padding-bottom: rem(64);
  @include mq(md) {
    padding-top: rem(200);
    padding-bottom: rem(250);
  }
}

.p-top-service__content {
  @include mq(md) {
    display: flex;
    gap: rem(90);
  }
}

.p-top-service__detail {
  width: 100%;
  @include mq(md) {
    max-width: rem(460);
    position: sticky;
    top: rem(200);
    align-self: flex-start;
  }
}

.p-top-service__title {
}

.p-top-service__data {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(72);
  }
}

.p-top-service__subTitle {
  font-family: $second-font-family;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: calc(60 / 32);
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(32);
  }
}

.p-top-service__text {
  color: #3d4043;
  line-height: calc(36 / 16);
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: rem(14);
  margin-top: rem(20);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
    margin-top: rem(40);
  }
  @include mq(lg) {
    font-size: rem(16);
  }
}

.p-top-service__images {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: initial;
    flex: 1;
  }
}

.p-top-service__link {
  display: block;
}
.p-top-service__link + .p-top-service__link {
  margin-top: rem(12);
  @include mq(md) {
    margin-top: rem(20);
  }
}

.p-top-service__img {
}
.p-top-service__img img {
  aspect-ratio: 850 / 580;
  object-fit: cover;
  width: 100%;
  height: auto;
}
