@use "global" as *;

.p-tab__panel {
  display: none;
  opacity: 0;
  transition: opacity 0.4s ease;

  &[aria-hidden="false"] {
    display: block;
    animation: fadeIn 0.4s ease forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
